/******** Titles ********/
@font-face {
    font-family: "SF Pro";
    font-weight: 100;
    src: url("fonts/SF PRO/SF-Pro-Display-Ultralight.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 100;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-UltralightItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 200;
    src: url("fonts/SF PRO/SF-Pro-Display-Thin.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 200;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-ThinItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 300;
    src: url("fonts/SF PRO/SF-Pro-Display-Regular.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 300;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-RegularItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 400;
    src: url("fonts/SF PRO/SF-Pro-Display-Medium.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-MediumItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 500;
    src: url("fonts/SF PRO/SF-Pro-Display-Semibold.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 500;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-SemiboldItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 600;
    src: url("fonts/SF PRO/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-BoldItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 700;
    src: url("fonts/SF PRO/SF-Pro-Display-Heavy.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-HeavyItalic.otf");
}

@font-face {
    font-family: "SF Pro";
    font-weight: 800;
    src: url("fonts/SF PRO/SF-Pro-Display-Black.otf");
}
@font-face {
    font-family: "SF Pro";
    font-weight: 800;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Display-BlackItalic.otf");
}

/******** Text ********/
@font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Light.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-LightItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Light.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-LightItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 300;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 300;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-RegularItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-RegularItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Medium.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-MediumItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Semibold.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-SemiboldItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Bold.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-BoldItalic.otf");
}

@font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-Heavy.otf");
}
@font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("fonts/SF PRO/SF-Pro-Text-HeavyItalic.otf");
}



